.profilebaseImg{
  background: url(../img/profileimgh.jfif)no-repeat 0 0;
  width: 200px;height: 200px;display: block;background-size: contain;
}
/* img{
  width: 200px;height: 200px;background-size: cover;
} */

